<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">Access denied !</h2>
        <p class="mb-4 mx-2">this page is publicly unavailable to access it please login first</p>
        <a href="" routerLink="" class="btn btn-primary">Back to login</a>
        <div class="mt-4">
            <img src="../assets/img/illustrations/girl-doing-yoga-light.png" alt="girl-doing-yoga-light" width="500" class="img-fluid" data-app-dark-img="illustrations/girl-doing-yoga-dark.png" data-app-light-img="illustrations/girl-doing-yoga-light.png" />
        </div>
    </div>
</div>