<nav class="navbar navbar-example navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)"><strong>Menu</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-ex-2" aria-controls="navbar-ex-2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbar-ex-2">
            <div class="navbar-nav me-auto">
                <a class="nav-item nav-link " href="javascript:void(0)" routerLink="addDepartement" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">add departement</a>
                <a class="nav-item nav-link" href="javascript:void(0)" routerLink="listDepartement" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">list departement</a>
            </div>

            <!-- <span class="navbar-text">Marshmallow brownie lemon drops cheesecake.</span> -->
        </div>
    </div>
</nav>