<br>
<nav class="navbar navbar-example navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [ngStyle]="{'font-size.px':20}" href="javascript:void(0)">Kadem</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-ex-4">
      <div class="navbar-nav me-auto">
        <a class="nav-item nav-link active"  aria-disabled="true" href="javascript:void(0)">List of Companies</a>
        <a class="nav-item nav-link" routerLink="form"  href="javascript:void(0)">Add Form</a>
        
      </div>

      <form class="d-flex">
        <div class="input-group">
          <span class="input-group-text"><i class="tf-icons bx bx-search"></i></span>
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search by name">
        </div>
      </form>
    </div>
  </div>
</nav>



<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> List of Companies</h4>
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-5" >
    
      <app-entreprise [entreprise]="e" *ngFor="let e of listEntp | slice: (page-1) * pageSize : page * pageSize
      | filter:searchText"
      (notification)="delete($event)"></app-entreprise>
    </div>
  <div class="justify-content-center d-flex">
      <div class=" row  g-0 align-items-center pb-4">
        <div class="col-sm">
          <div><p class="mb-sm">Showing {{(page*pageSize)-(pageSize-1)}} to {{page*pageSize}} of {{length}}</p></div>
        </div>
        <ngb-pagination  style="align-items: center;"
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="length"></ngb-pagination>
      </div>
  </div>
  




