<div class="card h-100">
    <div class="img-wrap">
        <img class="card-img-top" src="{{entreprise.logo}}" alt="Card image cap">
    </div>
    <div class="card-body">
        <h4 class="card-title">{{entreprise.nom}}</h4>
        <h6 class="card-text">Tax number: {{entreprise.numFiscal}}</h6>
        <p class="card-text">Address : {{entreprise.adresse}}</p>
        <button routerLink="/backoffice/entreprises/update/{{entreprise.idEntreprise}}" type="button" class="btn btn-success">Edit</button> &nbsp;
        <button (click)="notifyParent()" type="button" class="btn btn-danger">Delete</button>
    </div>
</div>