<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
      <span
        class="text-muted fw-light"
        style="cursor: pointer"
        [routerLink]="['/backoffice/contrat/list']"
        >Liste/</span
      >
      {{ editable ? "Modifier" : "Ajouter" }}
    </h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
      <div class="col-xxl">
        <div class="card mb-4">
          <div
            class="card-header d-flex align-items-center justify-content-between"
          >
            <h5 class="mb-0">
              {{ editable ? "Modifier" : "Ajouter" }} Contrat
            </h5>
          </div>
          <div class="card-body">
            <form #contratForm="ngForm">
              <div class="row mb-3">
                <label
                  class="col-sm-2 col-form-label"
                  for="basic-icon-default-fullname"
                  >Specialite</label
                >
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <span
                      id="basic-icon-default-fullname2"
                      class="input-group-text"
                      ><i class="bx bx-file"></i
                    ></span>

                    <select
                      class="form-select"
                      [(ngModel)]="contrat.specialite"
                      [ngModelOptions]="{ standalone: true }"
                      #Spec="ngModel"
                    >
                      <option value="IA">IA</option>
                      <option value="RESEAU">RESEAU</option>
                      <option value="CLOUD">CLOUD</option>
                      <option value="SECURITE">SECURITE</option>
                    </select>
                  </div>
                  <div class="form-text">
                    <div class="alert alert-danger" role="alert">
                      This is a danger alert — check it out!
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label
                  class="col-sm-2 col-form-label"
                  for="basic-icon-default-company"
                  >date Debut Contrat</label
                >
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <span
                      id="basic-icon-default-company2"
                      class="input-group-text"
                      ><i class="bx bx-calendar-check"></i
                    ></span>
                    <input
                      class="form-control"
                      type="date"
                      [(ngModel)]="contrat.dateDebutContrat"
                      [ngModelOptions]="{ standalone: true }"
                      #dateD="ngModel"
                    />
                  </div>
                  <div class="form-text">
                    <div class="alert alert-danger" role="alert">
                      This is a danger alert — check it out!
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label
                  class="col-sm-2 col-form-label"
                  for="basic-icon-default-email"
                  >dateFinContrat</label
                >
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <span class="input-group-text"
                      ><i class="bx bx-calendar-x"></i
                    ></span>
                    <input
                      class="form-control"
                      type="date"
                      [(ngModel)]="contrat.dateFinContrat"
                      [ngModelOptions]="{ standalone: true }"
                      #DateF="ngModel"
                    />
                  </div>
                  <div class="form-text">
                    <div class="alert alert-danger" role="alert">
                      This is a danger alert — check it out!
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label
                  class="col-sm-2 form-label"
                  for="basic-icon-default-phone"
                  >montantContrat</label
                >
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <span
                      id="basic-icon-default-phone2"
                      class="input-group-text"
                      ><i class="bx bx-dollar-circle"></i
                    ></span>
                    <input
                      type="number"
                      [(ngModel)]="contrat.montantContrat"
                      [ngModelOptions]="{ standalone: true }"
                      #Mont="ngModel"
                      class="form-control"
                    />
                  </div>
                  <div class="form-text">
                    <div class="alert alert-danger" role="alert">
                      This is a danger alert — check it out!
                    </div>
                  </div>
                </div>
              </div>

              <div class="row justify-content-end">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">
                    {{ editable ? "Modifier" : "Ajouter" }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
