<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
      <span
        class="text-muted fw-light"
        style="cursor: pointer"
        [routerLink]="['/backoffice/contrat/list']"
        >Liste/</span
      >
      {{ editable ? "Modifier" : "Ajouter" }}
    </h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
      <div class="col-xxl">
        <div class="card mb-4">
          <div
            class="card-header d-flex align-items-center justify-content-between"
          >
            <h5 class="mb-0">
              {{ editable ? "Modifier" : "Ajouter" }} Contrat
            </h5>
          </div>
          <div class="card-body">
            <form
              #contratForm="ngForm"
              (ngSubmit)="contratForm.form.valid && onSumbit()"
            >
              <div class="row mb-3">
                <label
                  class="col-sm-2 col-form-label"
                  for="basic-icon-default-fullname"
                  >Specialite</label
                >
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <select
                      class="form-select"
                      [(ngModel)]="contrat.specialite"
                      [ngModelOptions]="{ standalone: true }"
                      required
                      #Spec="ngModel"
                      [ngClass]="{
                        'is-invalid': Spec.touched && Spec.invalid
                      }"
                    >
                      <option value="IA">IA</option>
                      <option value="RESEAU">RESEAU</option>
                      <option value="CLOUD">CLOUD</option>
                      <option value="SECURITE">SECURITE</option>
                    </select>
                  </div>
                  <div class="form-text" *ngIf="Spec.invalid && Spec.touched">
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="Spec.hasError('required')"
                    >
                      Champ Specialite est obligatoire
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label
                  class="col-sm-2 col-form-label"
                  for="basic-icon-default-company"
                  >date Debut Contrat</label
                >
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <input
                      class="form-control"
                      type="date"
                      [(ngModel)]="contrat.dateDebutContrat"
                      [ngModelOptions]="{ standalone: true }"
                      required
                      [min]="currentDate"
                      [max]="DateF.value"
                      #dateD="ngModel"
                      [ngClass]="{
                        'is-invalid': dateD.touched && dateD.invalid
                      }"
                    />
                  </div>
                  <div class="form-text" *ngIf="dateD.invalid && dateD.touched">
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="dateD.hasError('required')"
                    >
                      Champ date Debut est obligatoire
                    </div>
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="dateD.hasError('min')"
                    >
                      Champ date Debut doit etre superieur a la date
                      d'aujourd'hui
                    </div>
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="dateD.hasError('max')"
                    >
                      Champ date Debut doit etre inferieur a la date fin du
                      contrat
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label
                  class="col-sm-2 col-form-label"
                  for="basic-icon-default-email"
                  >dateFinContrat</label
                >
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <input
                      class="form-control"
                      type="date"
                      [(ngModel)]="contrat.dateFinContrat"
                      [ngModelOptions]="{ standalone: true }"
                      required
                      [min]="dateD.value"
                      #DateF="ngModel"
                      [ngClass]="{
                        'is-invalid': DateF.touched && DateF.invalid
                      }"
                    />
                  </div>
                  <div class="form-text" *ngIf="DateF.invalid && DateF.touched">
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="DateF.hasError('required')"
                    >
                      Champ date fin est obligatoire
                    </div>
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="DateF.hasError('min')"
                    >
                      Champ date Debut doit etre superieur a la date debut du
                      contrat
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label
                  class="col-sm-2 form-label"
                  for="basic-icon-default-phone"
                  >montantContrat</label
                >
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <input
                      type="number"
                      [(ngModel)]="contrat.montantContrat"
                      [ngModelOptions]="{ standalone: true }"
                      required
                      #Mont="ngModel"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': Mont.touched && Mont.invalid
                      }"
                    />
                  </div>
                  <div class="form-text" *ngIf="Mont.invalid && Mont.touched">
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="Mont.hasError('required')"
                    >
                      Champ montant est obligatoire
                    </div>
                  </div>
                </div>
              </div>

              <div class="row justify-content-end">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">
                    {{ editable ? "Modifier" : "Ajouter" }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
